<div class="section__title">תחקור תחלואה והתחסנות</div>
<div class="section__content">
    <div class="inline-flex-wrapper">
        <div class="card large">
            <div id="daily-confirmed-by-vaccination" class="chart"></div>
        </div>
        <div class="card large">
            <div id="severly-ill-by-vaccination" class="chart"></div>
        </div>
        <div class="card large">
            <div id="actively-ill-by-vaccination" class="chart"></div>
        </div>
    </div>
    <div class="inline-flex-wrapper">
        <div class="card large">
            <div class="chart"></div>
        </div>
        <div class="card large">
            <div class="chart"></div>
        </div>
        <div class="card large">
            <div class="chart"></div>
        </div>
    </div>
</div>