<div class="inline-flex-wrapper">
    {{>_placeholderCardLarge}}
    {{>_placeholderCardLarge}}
</div>
<div class="inline-flex-wrapper">
    {{>_placeholderCardLarge}}
    {{>_placeholderCardLarge}}
</div>
<div class="inline-flex-wrapper">
    {{>_placeholderCardLarge}}
    {{>_placeholderCardLarge}}
</div>