<div class="section__title">עולם הדאטה</div>
<div class="section__content">
    <div class="inline-flex-wrapper">
        <div class="card large" id="data-reports">
            <div class="card-title">דוחות הֲיָ-DATA</div>
            <div class="card-content">
                <a target="_blank" class="data-card" href="https://datadashboard.health.gov.il/COVID-19/assets/other/hayadata_report2.pdf">
                    <div class="data-card__img"><img src="/public/media/images/report_lightblue.jpg"></div>
                    <div class="data-card__header">
                        <div class="data-card__header__title">דו"ח 2</div>
                        <div class="data-card__header__secondary-title">ינואר 2021</div>
                    </div>
                    <div class="data-card__description">מאושפזי קורונה במצב קשה: גורמי סיכון ומאפיינים</div>
                </a>
                <a target="_blank" class="data-card" href="https://datadashboard.health.gov.il/COVID-19/assets/other/hayadata_report1.pdf">
                    <div class="data-card__img"><img src="/public/media/images/report_turquoise.jpg"></div>
                    <div class="data-card__header">
                        <div class="data-card__header__title">דו"ח 1</div>
                        <div class="data-card__header__secondary-title">נובמבר 2020</div>
                    </div>
                    <div class="data-card__description">בחינת משך ימי אשפוז חולי קורונה כגורם תורם לעומס בבתי חולים</div>
                </a>
            </div>
        </div>
        <div class="card large">
            <div class="card-title">GIS</div>
            <div class="card-content">
                
            </div>
        </div>
        <div class="card large">
            <div class="card-title">מאגרי מידע Data Gov</div>
            <div class="card-content">

            </div>
        </div>
    </div>
</div>