<div class="hamburger-menu__background">
    <div class="hamburger-menu__menu">
        <div class="menu-section">
            <button class="menu-section__button">
                <div class="menu-section__button__text">עולמות תוכן</div>
                <div class="menu-section__button__arrow"><img class="show" src="/public/media/svgs/up-arrow.svg" alt=""></div>
            </button>
            <div class="menu-section__container show">
                <a class="menu-section__link bold" href="">קורונה</a>
                <a class="menu-section__link fade" href="">עולמות תוכן נוספים בקרוב...</a>
            </div>
        </div>
        <div class="menu-section">
            <button class="menu-section__button">
                <div class="menu-section__button__text">עולם הדאטה</div>
                <div class="menu-section__button__arrow"><img class="show" src="/public/media/svgs/up-arrow.svg" alt=""></div>
            </button>
            <div class="menu-section__container show">
                <div class="menu-section__innerButton">
                    <div class="menu-section__button__text">הי-DATA</div>
                    <div class="menu-section__button__arrow"><img src="/public/media/svgs/up-arrow.svg" alt=""></div>
                </div>
                <div class="menu-section__innerSection">
                    <a class="innerSection-link" href="">דו"ח 1 - אשפוז</a>
                    <a class="innerSection-link" href="">דו"ח 2 - חולים במצב קשה</a>
                </div>
                <div class="menu-section__innerButton">
                    <div class="menu-section__button__text">GIS</div>
                    <div class="menu-section__button__arrow"><img src="/public/media/svgs/up-arrow.svg" alt=""></div>
                </div>
                <div class="menu-section__innerSection">
                    <a class="innerSection-link" href="">מפת צבע רמזור</a>
                    <a class="innerSection-link" href="">בידודים פעילים לפי רשות מקומית</a>
                    <a class="innerSection-link" href="">דשבורד מפת התחסנות קורונה</a>
                    <a class="innerSection-link" href="">בדיקות מהירות בפריסה ארצית</a>
                    <a class="innerSection-link" href="">צבעי המדינות בעולם</a>
                </div>
                <a class="menu-section__link" href="">← Data Gov</a>
            </div>
        </div>
        <div class="menu-section">
            <button class="menu-section__button">
                <div class="menu-section__button__text">על הדשבורד</div>
                <div class="menu-section__button__arrow"><img class="show" src="/public/media/svgs/up-arrow.svg" alt=""></div>
            </button>
            <div class="menu-section__container show">
                <a class="menu-section__link" href="">אודות</a>
                <a class="menu-section__link" href="">תנאי שימוש</a>
                <a class="menu-section__link" href="">מדריך למשתמש</a>
            </div>
        </div>
    </div>
</div>



{{!-- ← --}}