<div class="navbar-info">
                <div class="navbar__color-line"></div>
                <div class="navbar__hamburger-menu">
                    <div id="hamburger-menu__lines" class="show">
                        <div class="hamburger-menu__line"></div>
                        <div class="hamburger-menu__line"></div>
                        <div class="hamburger-menu__line"></div>
                    </div>
                    <div id="hamburger-menu__X">
                        <div class="hamberger-menu__X-line"></div>
                        <div class="hamberger-menu__X-line"></div>
                    </div>
                </div>
                <div class="navbar__logo">
                    <img src="/public/media/logos/DOH-logo.png" alt="">
                </div>
                <div class="navbar__text">
                    <div class="navbar__title">נגיף הקורונה בישראל - תמונת מצב כללית</div>
                    <div class="navbar__last-updated">עדכון אחרון: 17 באוקטובר 2021 | 08:46</div>
                </div>
                <div id="theme-switch">
                    <img class="theme-switch__img" src="/public/media/logos/brightness_light.png" alt="">
                </div>
            </div>
            <div class="navbar-links scrollable-container">
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#overview">מבט על</a>
                </div>
                <div class="navbar-links__link-container chosen">
                    <a class="navbar-links__link" href="#data-world">עולם הדאטה</a>
                </div>
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#analysis">תחקור תחלואה והתחסנות</a>
                </div>
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#vaccines">חיסונים</a>
                </div>
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#civilians-status">חולים קשה, מאומתים ובדיקות</a>
                </div>
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#sick-from-overseas">תחלואה מחו"ל</a>
                </div>
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#healed-and-losses">מחלימים ונפטרים</a>
                </div>
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#traffic-light">רמזור בישובים</a>
                </div>
                <div class="navbar-links__link-container">
                    <a class="navbar-links__link" href="#health-facilities">מוסדות רפואיים</a>
                </div>
            </div>