<div class="section__title first-section">מבט על</div>
<div class="section__content">
    <div class="inline-flex-wrapper first">
        <div class="card small">
            <div class="card-header">
                <div class="card-title">מאומתים חדשים אתמול</div>
                <div class="card-description">
                    <div class="card-description__icon"><img src="/public/media/icons/info.svg"></div>
                    <div class="card-description__text">
                        מספר המאומתים לנגיף COVID-19 שאותרו משעה 00:00 עד שעה 23:59 של יום אתמול.<br><br>
                        מאומת - מי שנבדק ונמצא חיובי לנגיף COVID-19 בבדיקת PCR (בדיקת מטוש), בין אם הופיעו אצלו תסמינים ובין אם לא, בין אם הוא חולה, החלים או נפטר.
                    </div>
                </div>
            </div>
            <div class="card-content">

            </div>
        </div>
        <div class="card small">
            <div class="card-header">
                <div class="card-title">חולים פעילים</div>
                <div class="card-description">
                    <div class="card-description__icon"><img src="/public/media/icons/info.svg"></div>
                    <div class="card-description__text">
                        מספר החולים בנגיף COVID-19 הפעילים בישראל, נכון למועד העדכון האחרון
                        <br><br>
                        חולה פעיל - מי שנבדק ונמצא חיובי לנגיף COVID-19 בבדיקת PCR (בדיקת מטוש), בין אם הופיעו אצלו תסמינים ובין אם לא, שעוד לא הוגדר כמחלים ושלא נפטר.
                        <br><br>
                        מספר המאושפזים בבתי חולים כולל גם מחלימים שעדיין מאושפזים עקב סיבוכי מחלה.
                    </div>
                </div>
            </div>
            <div class="card-content">

            </div>
        </div>
    </div>
    <div class="line-break first"></div>
    <div class="inline-flex-wrapper second">
        <div class="card small">
            <div class="card-header">
                <div class="card-title">חולים קשה</div>
                <div class="card-description">
                    <div class="card-description__icon"><img src="/public/media/icons/info.svg"></div>
                    <div class="card-description__text">
                        מספר החולים במצב קשה וקריטי המאושפזים בבתי חולים.
                        <br><br>
                        חולה קשה - מי שחולה במחלת נגיף COVID-19 ושהוגדר במצב קשה או קריטי על ידי מערכת הבריאות.
                    </div>
                </div>
            </div>
            <div class="card-content">

            </div>
        </div>
        <div class="card small">
            <div class="card-header">
                <div class="card-title">מתחסנים</div>
                <div class="card-description">
                    <div class="card-description__icon"><img src="/public/media/icons/info.svg"></div>
                    <div class="card-description__text">
                        מספר מקבלי החיסון מפני נגיף COVID-19 מתחילת מבצע
                        <br>
                        החיסונים: מנה ראשונה, מנה שניה ומנה שלישית
                    </div>
                </div>
            </div>
            <div class="card-content">

            </div>
        </div>
    </div>
    <div class="line-break second"></div>
    <div class="inline-flex-wrapper third">
        <div class="card small">
            <div class="card-header">
                <div class="card-title">נפטרים מצטבר</div>
                <div class="card-description">
                    <div class="card-description__icon"><img src="/public/media/icons/info.svg"></div>
                    <div class="card-description__text">
                        מספר הנפטרים מנגיף COVID-19 החל מפרוץ המגפה.
                    </div>
                </div>
            </div>
            <div class="card-content">

            </div>
        </div>
        <div class="card small">
            <div class="card-header">
                <div class="card-title">אחוז נבדקים חיוביים אתמול</div>
                <div class="card-description">
                    <div class="card-description__icon"><img src="/public/media/icons/info.svg"></div>
                    <div class="card-description__text">
                        אחוז הנבדקים שנמצאו חיוביים לנגיף COVID-19 מתוך מספר הנבדקים לגילוי הנגיף אתמול.
                        <br><br>
                        נבדקים לגילוי הנגיף אתמול - מי שעבר בדיקת PCR (בדיקת מטוש) לגילוי נגיף COVID-19 (ללא בדיקות נלוות לקביעת החלמה), שתוצאותיה
                        התקבלו משעה 00:00 עד שעה 23:59 של יום אתמול.
                        <br><br>
                        כלל הבדיקות אתמול - מספר תוצאות של בדיקות PCR (בדיקות מטוש), הן לבדיקה לזיהוי ראשוני של הנגיף והן לבדיקה נלוות לקביעת החלמה,
                        שהתקבלו החל מחצות 00:00 עד שעה 23:59 של יום אתמול.
                    </div>
                </div>
            </div>
            <div class="card-content">

            </div>
        </div>
    </div>
</div>
