@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import 'https://code.highcharts.com/css/highcharts.css';
:root {
  --text-font-family: "Open Sans", sans-serif;
  --background-color: #edf1f7;
  --text-color: #222b45;
  --theme-switch-background-color: #39475d;
  --main-background-color: #edf1f7;
  --card-background-color: #fff;
  --card-text-color: #222b45;
  --card-info-icon-filter: invert(14%) sepia(10%) saturate(2937%) hue-rotate(187deg) brightness(94%) contrast(91%);
  --card-box-shadow: 3px 6px 14px 0 rgba(0,0,0,0.1);
  --section-title-text-color: #222b45;
  --chart-text-color: #222b45;
  --chart-menu-border-color: #e4e9f2;
  --chart-menu-arrow-color: invert(68%) sepia(12%) saturate(534%) hue-rotate(182deg) brightness(89%) contrast(85%);
  --chart-menu-button-background-color: #e6f1f4;
  --chart-tooltip-background-color: #ffffff;
  --chart-line-color-0: #50cbfd;
  --chart-line-color-1: #b6ca51;
  --chart-line-color-2: #237d7d;
  --data-card-text-color: #222b45;
}

[data-theme=dark] {
  --text-font-family: "Open Sans", sans-serif;
  --background-color: #49667a;
  --text-color: #ffffff;
  --theme-switch-background-color: #d8d8d8;
  --main-background-color: #49667a;
  --card-background-color: #384f5f;
  --card-text-color: #fff;
  --card-info-icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(107%) contrast(104%);
  --card-box-shadow: 3px 6px 14px 0 rgba(0,0,0,0.1);
  --section-title-text-color: #fff;
  --chart-text-color: #fff;
  --chart-menu-border-color: #79858e;
  --chart-menu-arrow-color: invert(68%) sepia(12%) saturate(534%) hue-rotate(182deg) brightness(89%) contrast(85%);
  --chart-menu-button-background-color: #2a3b47;
  --chart-tooltip-background-color: #21303b;
  --chart-line-color-0: #30e7f0;
  --chart-line-color-1: #fd8264;
  --chart-line-color-2: #90ed7d;
  --data-card-text-color: #fff;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  direction: rtl;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 350px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px !important;
  background-color: #969696 !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
@media (max-width: 690px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.page-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.scrollable-container {
  overflow: auto;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: rgba(26, 31, 51, 0.6) 0 8px 20px 0;
  border-bottom: 1px solid rgba(26, 31, 51, 0.38);
}
@media (max-width: 690px) {
  .navbar-container {
    width: 100%;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 36px 36px;
  background-color: var(--main-background-color);
}

.highcharts-background {
  fill: var(--card-background-color);
}

.highcharts-title {
  fill: var(--chart-text-color);
}

.highcharts-axis-title {
  fill: var(--chart-text-color);
  white-space: normal !important;
  font-family: var(--text-font-family);
  text-align: right;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
}

.highcharts-axis-labels {
  fill: var(--chart-text-color);
  cursor: default;
  font-size: 0.8rem;
  font-family: var(--text-font-family);
}

.highcharts-color-0 {
  fill: var(--chart-line-color-0);
  stroke: var(--chart-line-color-0);
}

.highcharts-color-1 {
  fill: var(--chart-line-color-1);
  stroke: var(--chart-line-color-1);
}

.highcharts-color-2 {
  fill: var(--chart-line-color-2);
  stroke: var(--chart-line-color-2);
}

.highcharts-tooltip {
  color: var(--card-text-color);
  font-family: var(--text-font-family);
}

.highcharts-tooltip-box {
  fill: var(--chart-tooltip-background-color);
  fill-opacity: 1;
  stroke-width: 0;
  z-index: 50;
}

.highcharts-legend-item {
  pointer-events: none;
}

.highcharts-legend-item > text {
  fill: var(--chart-text-color);
  font-weight: 600;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  stroke-width: 0;
}

.highcharts-legend-item .highcharts-graph {
  display: none;
}

.highcharts-legend-item .highcharts-point {
  transform: scale(1.3) translate(-2.5px, -2.5px);
}

.highcharts-crosshair-category {
  stroke-opacity: 0.5;
  stroke-width: 1.5px;
  stroke: var(--chart-text-color);
  transform: translateY(2px);
}

.navbar-info {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 32px;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}

.navbar__color-line {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(90deg, #4bb887, #16b6d0, #d6e58a);
}

.navbar__logo > img {
  height: 100%;
  width: 100%;
  max-width: 247px;
  max-height: 47px;
  margin: 0 22px 0 45px;
}

.navbar__text {
  line-height: 1;
  margin: 0 20px 0 30px;
  display: flex;
  align-items: center;
  flex: 1 0 200px;
  color: #222b45;
  font-weight: 700;
}
.navbar__text .navbar__title {
  font-size: 1.01rem;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-left: 1px solid;
  padding-left: 20px;
  margin-left: 20px;
}
.navbar__text .navbar__last-updated {
  font-size: 0.75rem;
  text-align: center;
}
@media (max-width: 690px) {
  .navbar__text {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__text .navbar__title {
    border: none;
  }
}

#theme-switch {
  position: absolute;
  left: 0;
  top: 20px;
  width: 53px;
  height: 44px;
  background-color: var(--theme-switch-background-color);
  border-radius: 0 46% 46% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__hamburger-menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__hamburger-menu #hamburger-menu__lines {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar__hamburger-menu #hamburger-menu__lines .hamburger-menu__line {
  width: 25px;
  height: 3px;
  margin: 2px 0;
  background-color: #374f60;
  border-radius: 10%;
}
.navbar__hamburger-menu #hamburger-menu__lines.show {
  display: flex;
}
.navbar__hamburger-menu #hamburger-menu__X {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar__hamburger-menu #hamburger-menu__X .hamberger-menu__X-line {
  width: 25px;
  height: 3px;
  margin: 2px 0;
  background-color: #374f60;
}
.navbar__hamburger-menu #hamburger-menu__X .hamberger-menu__X-line:nth-child(1) {
  transform: rotate(45deg) translate(2px, 3.5px);
}
.navbar__hamburger-menu #hamburger-menu__X .hamberger-menu__X-line:nth-last-child(1) {
  transform: rotate(-45deg) translate(1px, -3px);
}
.navbar__hamburger-menu #hamburger-menu__X.show {
  display: flex;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 0;
  margin: 0;
  background-color: #374f60;
}
.navbar-links .navbar-links__link-container {
  padding: 6px 30px;
  margin: 0 30px;
  border-radius: 20px;
}
.navbar-links .navbar-links__link-container .navbar-links__link {
  font-size: 16px;
  color: #f3f6f8;
  white-space: nowrap;
  text-decoration: none;
}
.navbar-links .navbar-links__link-container.chosen {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-links .navbar-links__link-container.chosen .navbar-links__link {
  font-weight: 700;
}

.card {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: var(--card-box-shadow);
  position: relative;
}
.card.small {
  padding: 15px;
  height: 11.5rem;
  max-width: 430px;
  min-width: 200px;
  flex-grow: 1;
}
@media (max-width: 1400px) {
  .card.small {
    min-width: 150px;
  }
}
.card.large {
  padding: 16px 10px;
  height: 350px;
}
@media (max-width: 770px) {
  .card.large {
    width: 100%;
  }
}
.card .chart svg {
  width: 100%;
  height: 100%;
}
.card .card-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.card .card-header .card-title {
  font-size: 0.9rem;
  line-height: 2;
  font-weight: 700;
  margin-left: 10px;
}
.card .card-header .card-description .card-description__icon {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.card .card-header .card-description .card-description__icon img {
  width: 17px;
  height: 17px;
  filter: var(--card-info-icon-filter);
}
.card .card-header .card-description .card-description__text {
  visibility: hidden;
  opacity: 0;
  background: var(--card-background-color);
  border: 1px solid var(--card-text-color);
  border-radius: 5px;
  position: absolute;
  padding: 10px 15px;
  right: 30px;
  top: 50px;
  width: 200px;
  z-index: 3;
  font-size: 0.7rem;
  transition: all 200ms 0ms;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.6);
}
@media (max-width: 670px) {
  .card .card-header .card-description .card-description__text {
    right: 0;
    width: 150px;
  }
}
.card .card-header .card-description:hover .card-description__text {
  visibility: visible;
  opacity: 1;
}

.section {
  width: 100%;
}

.section__title {
  font-size: 19px;
  font-weight: 700;
  text-align: right;
  color: var(--section-title-text-color);
  margin: 15px 0 8px;
  line-height: 2;
  border-top: 1px solid rgba(161, 170, 177, 0.4);
}
.section__title.first-section {
  border: none;
  margin: 0 0 8px;
}

.section__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inline-flex-wrapper {
  display: flex;
  flex-grow: 1;
  column-gap: 10px;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1400px) {
  #overview .section__content {
    justify-content: flex-start;
  }
  #overview .section__content .inline-flex-wrapper.first, #overview .section__content .inline-flex-wrapper.third {
    width: 60vw;
    min-width: 10vw;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: flex-start;
  }
  #overview .section__content .inline-flex-wrapper.first .small, #overview .section__content .inline-flex-wrapper.third .small {
    flex-grow: 1;
  }
  #overview .section__content .inline-flex-wrapper.second {
    width: 30vw;
    min-width: 20vw;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: flex-start;
  }
  #overview .section__content .inline-flex-wrapper.second .small {
    flex-grow: 1;
  }
  #overview .section__content .line-break.second {
    width: 100%;
  }
}
@media (max-width: 1190px) {
  #overview .section__content .inline-flex-wrapper.first, #overview .section__content .inline-flex-wrapper.second, #overview .section__content .inline-flex-wrapper.third {
    justify-content: center;
    flex-grow: 1;
    margin-left: 0;
  }
  #overview .section__content .line-break {
    width: 100%;
  }
}

#overview .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#data-world .section__content .inline-flex-wrapper {
  margin-left: 0;
  justify-content: center;
  width: 100%;
}
#data-world .section__content .inline-flex-wrapper .card {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
}
#data-world .section__content .inline-flex-wrapper .card .card-header {
  padding: 0 24px;
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-title {
  font-weight: 700;
  font-size: 1rem;
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-link {
  height: 27px;
  border-radius: 14.5px;
  border: 2px solid #79858e;
  padding: 4px 15px 4px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  top: 0;
  left: 0;
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--data-card-text-color);
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-link a .link-arrow {
  font-size: 16px;
  padding-bottom: 3px;
  padding-right: 5px;
}
#data-world .section__content .inline-flex-wrapper .card .card-content {
  height: 350px;
  display: flex;
  overflow: auto;
  align-items: center;
}
@media (max-width: 1190px) {
  #data-world .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
  #data-world .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}

#data-reports .data-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 251px;
  width: 100%;
  max-width: 185px;
  padding: 0;
  margin: 0 6px;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px rgba(0, 2, 2, 0.15);
  text-decoration: none;
  color: var(--data-card-text-color);
}
#data-reports .data-card .data-card__header .data-card__header__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 20px;
}
#data-reports .data-card .data-card__header .data-card__header__secondary-title {
  font-size: 12px;
  margin: 0 20px;
}
#data-reports .data-card .data-card__description {
  font-size: 12px;
}

#gis .data-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  height: 251px;
  width: 100%;
  max-width: 185px;
  padding: 0;
  margin: 0 6px;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px rgba(0, 2, 2, 0.15);
  text-decoration: none;
  color: var(--data-card-text-color);
}
#gis .data-card .data-card__header .data-card__header__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 20px;
}
#gis .data-card .data-card__description {
  font-size: 12px;
}

#gov-data-base .data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  height: 251px;
  width: 100%;
  max-width: 185px;
  padding: 0;
  margin: 0 6px;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px rgba(0, 2, 2, 0.15);
  text-decoration: none;
  color: var(--data-card-text-color);
}
#gov-data-base .data-card .data-card__header {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#gov-data-base .data-card .data-card__header .data-card__header__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 20px;
}
#gov-data-base .data-card .data-card__description {
  font-size: 12px;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#gov-data-base .data-card .data-card__description span {
  margin: 0 5px;
}

#gov-data-base .card-header {
  justify-content: space-between;
}

#gov-data-card-1 .data-card__header,
#gov-data-card-5 .data-card__header {
  background: rgba(0, 127, 127, 0.05);
  border-bottom: 1px solid #007f7f;
}

#gov-data-card-2 .data-card__header,
#gov-data-card-6 .data-card__header {
  background: rgba(53, 100, 204, 0.05);
  border-bottom: 1px solid #3564cc;
}

#gov-data-card-3 .data-card__header {
  background: rgba(15, 170, 216, 0.05);
  border-bottom: 1px solid #0faad8;
}

#gov-data-card-4 .data-card__header {
  background: rgba(151, 119, 222, 0.05);
  border-bottom: 1px solid #9777de;
}

#analysis .section__content {
  display: flex;
  flex-direction: column;
}
#analysis .section__content .inline-flex-wrapper {
  margin-left: 0;
  column-gap: 20px;
  justify-content: center;
}
#analysis .section__content .inline-flex-wrapper .card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 200px;
}
@media (max-width: 980px) {
  #analysis .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
  #analysis .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}
#analysis .section__content .card-header {
  display: flex;
  flex-wrap: wrap;
}
#analysis .section__content .card-header .chart-menu {
  width: 100%;
  margin-top: 10px;
  z-index: 2;
  position: relative;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button {
  cursor: pointer;
  border: 2px solid var(--chart-menu-border-color);
  border-radius: 1.5rem;
  min-width: 200px;
  max-width: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3px 15px 4px;
  font-size: 15px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button .chart-menu__button__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button .chart-menu__button__arrow img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  filter: var(--chart-menu-arrow-color);
  transform: rotate(180deg);
  transition: transform 500ms;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button .chart-menu__button__arrow img.rotate {
  transform: rotate(360deg);
}
#analysis .section__content .card-header .chart-menu .chart-menu__form {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  border: 2px solid var(--chart-menu-border-color);
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  height: 260px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form.show {
  display: block;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form {
  display: flex;
  flex-direction: column;
  max-height: 225px;
  overflow: auto;
  padding: 0 16px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field label {
  font-size: 14px;
  font-weight: bold;
  margin: 12px 0 4px;
  line-height: 2rem;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field .radio-option {
  margin-bottom: 8px;
  font-size: 15px;
  cursor: pointer;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field .radio-option input {
  cursor: pointer;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field:last-child {
  padding-bottom: 30px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons .form-button {
  flex-grow: 1;
  color: var(--card-text-color);
  background: var(--chart-menu-button-background-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 32px;
  cursor: pointer;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons .form-button:first-child {
  border-radius: 0 0 0.5rem 0;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons .form-button:last-child {
  border-radius: 0 0 0 0.5rem;
}
#analysis .section__content .card-content {
  flex-grow: 1;
}
#analysis .section__content .card-content .chart {
  width: 100%;
  height: 100%;
}
