@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import 'https://code.highcharts.com/css/highcharts.css';
:root {
  --text-font-family: "Open Sans", sans-serif;
  --background-color: #edf1f7;
  --text-color: #222b45;
  --theme-switch-background-color: #39475d;
  --main-background-color: #edf1f7;
  --card-background-color: #fff;
  --card-text-color: #222b45;
  --card-info-icon-filter: invert(14%) sepia(10%) saturate(2937%) hue-rotate(187deg) brightness(94%) contrast(91%);
  --card-box-shadow: 3px 6px 14px 0 rgba(0,0,0,0.1);
  --card-banner-background-color: #e6f1f4;
  --card-search-form-border-color: #e4e9f2;
  --card-legend-subtitle-text-color: #757575;
  --section-title-text-color: #222b45;
  --chart-text-color: #222b45;
  --chart-menu-border-color: #e4e9f2;
  --chart-menu-arrow-color: invert(68%) sepia(12%) saturate(534%) hue-rotate(182deg) brightness(89%) contrast(85%);
  --chart-menu-button-background-color: #e6f1f4;
  --chart-tooltip-background-color: #ffffff;
  --chart-line-color-0: #50cbfd;
  --chart-line-color-1: #b6ca51;
  --chart-line-color-2: #237d7d;
  --data-card-text-color: #222b45;
  --table-header-dark-background: #daeaee;
  --table-header-background: #e6f1f3;
  --table-cell-dark-background: rgba(239,245,249,0.5);
}

[data-theme=dark] {
  --text-font-family: "Open Sans", sans-serif;
  --background-color: #49667a;
  --text-color: #ffffff;
  --theme-switch-background-color: #d8d8d8;
  --main-background-color: #49667a;
  --card-background-color: #384f5f;
  --card-text-color: #fff;
  --card-info-icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(107%) contrast(104%);
  --card-box-shadow: 3px 6px 14px 0 rgba(0,0,0,0.1);
  --card-banner-background-color: #2a3b47;
  --card-search-form-border-color: #79858e;
  --card-legend-subtitle-text-color: #cacaca;
  --section-title-text-color: #fff;
  --chart-text-color: #fff;
  --chart-menu-border-color: #79858e;
  --chart-menu-arrow-color: invert(68%) sepia(12%) saturate(534%) hue-rotate(182deg) brightness(89%) contrast(85%);
  --chart-menu-button-background-color: #2a3b47;
  --chart-tooltip-background-color: #21303b;
  --chart-line-color-0: #30e7f0;
  --chart-line-color-1: #fd8264;
  --chart-line-color-2: #90ed7d;
  --data-card-text-color: #fff;
  --table-header-dark-background: #354047;
  --table-header-background: #2a3b47;
  --table-cell-dark-background: rgba(41,59,72,0.5);
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  direction: rtl;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 350px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-track {
  background-color: #151a30 !important;
}

.page-container ::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px !important;
  background-color: #969696 !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
@media (max-width: 690px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.page-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.scrollable-container {
  overflow: auto;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: rgba(26, 31, 51, 0.6) 0 8px 20px 0;
  border-bottom: 1px solid rgba(26, 31, 51, 0.38);
  overscroll-behavior: contain;
}
@media (max-width: 690px) {
  .navbar-container {
    width: 100%;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 36px 36px;
  background-color: var(--main-background-color);
}

.chart {
  width: 100%;
  height: 265px;
  max-height: 265px;
  padding: 10px;
}

.highcharts-background {
  fill: var(--card-background-color);
}

.highcharts-title {
  fill: var(--chart-text-color);
}

#analysis .card {
  padding-bottom: 0;
}

.highcharts-axis-title {
  fill: var(--chart-text-color);
  white-space: normal !important;
  font-family: var(--text-font-family);
  text-align: right;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
}

.highcharts-axis-labels {
  fill: var(--chart-text-color);
  cursor: default;
  font-size: 0.8rem;
  font-family: var(--text-font-family);
}

.highcharts-color-0 {
  fill: var(--chart-line-color-0);
  stroke: var(--chart-line-color-0);
}

.highcharts-color-1 {
  fill: var(--chart-line-color-1);
  stroke: var(--chart-line-color-1);
}

.highcharts-color-2 {
  fill: var(--chart-line-color-2);
  stroke: var(--chart-line-color-2);
}

.highcharts-tooltip {
  color: var(--card-text-color);
  font-family: var(--text-font-family);
}

.highcharts-tooltip-box {
  fill: var(--chart-tooltip-background-color);
  fill-opacity: 1;
  stroke-width: 0;
  z-index: 50;
}

.highcharts-legend-item {
  pointer-events: none;
}

.highcharts-legend-item > text {
  fill: var(--chart-text-color);
  font-weight: 600;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  stroke-width: 0;
}

.highcharts-legend-item .highcharts-graph {
  display: none;
}

.highcharts-legend-item .highcharts-point {
  transform: scale(1.3) translate(-2.5px, -2.5px);
}

.highcharts-crosshair-category {
  stroke-opacity: 0.5;
  stroke-width: 1.5px;
  stroke: var(--chart-text-color);
  transform: translateY(2px);
}

#actively-ill-by-vaccination .highcharts-grid-line {
  stroke-width: 1px;
}
#actively-ill-by-vaccination .actively-ill-chart-crosshair {
  stroke-opacity: 0.1;
  stroke: var(--chart-text-color);
  stroke-width: 10%;
  transform: translateY(2px);
}
#actively-ill-by-vaccination .highcharts-point {
  stroke-width: 0;
}
#actively-ill-by-vaccination .highcharts-legend-item > rect {
  transform: scale(0.8) translate(2px, 4px);
}

#hamburger-menu .hamburger-menu__background {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 900;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: all 100ms linear;
}
#hamburger-menu .hamburger-menu__background.show {
  opacity: 1;
}
#hamburger-menu .hamburger-menu__background .hamburger-menu__menu {
  height: 100%;
  width: 278px;
  background: #fff;
  transform: translateX(278px);
  transition: all 100ms linear;
  overflow: auto;
}
#hamburger-menu .hamburger-menu__background .hamburger-menu__menu.show {
  transform: translateX(0px);
}
#hamburger-menu .hamburger-menu__background .menu-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__button {
  cursor: pointer;
  border: none;
  height: 60px;
  background-color: rgba(242, 242, 242, 0.55);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__button .menu-section__button__text {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--text-font-family);
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__button .menu-section__button__arrow img {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-top: 3px;
  transform: rotate(270deg);
  transition: all 100ms linear;
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__button .menu-section__button__arrow img.show {
  transform: rotate(180deg);
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 100ms linear;
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__container .menu-section__link {
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: black;
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__container .menu-section__link.fade {
  opacity: 0.3;
  pointer-events: none;
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__container .menu-section__link.bold {
  font-weight: 700;
}
#hamburger-menu .hamburger-menu__background .menu-section .menu-section__container.show {
  max-height: 300px;
}
#hamburger-menu .hamburger-menu__background .menu-section__innerButton {
  display: flex;
  cursor: pointer;
  height: 50px;
  align-items: center;
}
#hamburger-menu .hamburger-menu__background .menu-section__innerButton .menu-section__button__arrow img {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  transform: rotate(270deg);
  transition: all 100ms linear;
}
#hamburger-menu .hamburger-menu__background .menu-section__innerButton .menu-section__button__arrow img.show {
  transform: rotate(180deg);
}
#hamburger-menu .hamburger-menu__background .menu-section__innerSection {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 100ms linear;
}
#hamburger-menu .hamburger-menu__background .menu-section__innerSection.show {
  max-height: 400px;
}
#hamburger-menu .hamburger-menu__background .menu-section__innerSection .innerSection-link {
  text-decoration: none;
  height: 50px;
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(0);
  transition: all 500ms ease-out;
}
#hamburger-menu .hamburger-menu__background .menu-section__innerSection .innerSection-link.show {
  transform: translateX(-20px);
  opacity: 1;
}

.navbar-info {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 32px;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}

.navbar__color-line {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(90deg, #4bb887, #16b6d0, #d6e58a);
}

.navbar__logo > img {
  height: 100%;
  width: 100%;
  max-width: 247px;
  max-height: 47px;
  margin: 0 22px 0 45px;
}

.navbar__text {
  line-height: 1;
  margin: 0 20px 0 30px;
  display: flex;
  align-items: center;
  flex: 1 0 200px;
  color: #222b45;
  font-weight: 700;
}
.navbar__text .navbar__title {
  font-size: 1.01rem;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-left: 1px solid;
  padding-left: 20px;
  margin-left: 20px;
}
.navbar__text .navbar__last-updated {
  font-size: 0.75rem;
  text-align: center;
}
@media (max-width: 690px) {
  .navbar__text {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__text .navbar__title {
    border: none;
  }
}

#theme-switch {
  position: absolute;
  left: 0;
  top: 20px;
  width: 53px;
  height: 44px;
  background-color: var(--theme-switch-background-color);
  border-radius: 0 46% 46% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__hamburger-menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__hamburger-menu #hamburger-menu__lines {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar__hamburger-menu #hamburger-menu__lines .hamburger-menu__line {
  width: 25px;
  height: 3px;
  margin: 2px 0;
  background-color: #374f60;
  border-radius: 10%;
}
.navbar__hamburger-menu #hamburger-menu__lines.show {
  display: flex;
}
.navbar__hamburger-menu #hamburger-menu__X {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar__hamburger-menu #hamburger-menu__X .hamberger-menu__X-line {
  width: 25px;
  height: 3px;
  margin: 2px 0;
  background-color: #374f60;
}
.navbar__hamburger-menu #hamburger-menu__X .hamberger-menu__X-line:nth-child(1) {
  transform: rotate(45deg) translate(2px, 3.5px);
}
.navbar__hamburger-menu #hamburger-menu__X .hamberger-menu__X-line:nth-last-child(1) {
  transform: rotate(-45deg) translate(1px, -3px);
}
.navbar__hamburger-menu #hamburger-menu__X.show {
  display: flex;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 0;
  margin: 0;
  background-color: #374f60;
}
.navbar-links .navbar-links__link-container {
  padding: 6px 30px;
  margin: 0 30px;
  border-radius: 20px;
}
.navbar-links .navbar-links__link-container .navbar-links__link {
  font-size: 16px;
  color: #f3f6f8;
  white-space: nowrap;
  text-decoration: none;
}
.navbar-links .navbar-links__link-container.chosen {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-links .navbar-links__link-container.chosen .navbar-links__link {
  font-weight: 700;
}

.card {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: var(--card-box-shadow);
  position: relative;
}
.card.small {
  padding: 15px;
  height: 11.5rem;
  max-width: 430px;
  min-width: 200px;
  flex-grow: 1;
}
@media (max-width: 1400px) {
  .card.small {
    min-width: 150px;
  }
}
.card.large {
  padding: 16px 10px;
  height: 350px;
  max-height: 350px;
  min-height: 350px;
}
@media (max-width: 770px) {
  .card.large {
    width: 100%;
  }
}
.card .placeholder-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  height: 100%;
}
.card .chart svg {
  width: 100%;
  height: 100%;
}
.card .card-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.card .card-header .card-title {
  font-size: 0.9rem;
  line-height: 2;
  font-weight: 700;
  margin-left: 10px;
}
.card .card-header .card-description .card-description__icon {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.card .card-header .card-description .card-description__icon img {
  width: 17px;
  height: 17px;
  filter: var(--card-info-icon-filter);
}
.card .card-header .card-description .card-description__text {
  visibility: hidden;
  opacity: 0;
  background: var(--card-background-color);
  border: 1px solid var(--card-text-color);
  border-radius: 5px;
  position: absolute;
  padding: 10px 15px;
  right: 30px;
  top: 50px;
  width: 200px;
  z-index: 3;
  font-size: 0.7rem;
  transition: all 200ms 0ms;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.6);
}
@media (max-width: 670px) {
  .card .card-header .card-description .card-description__text {
    right: 0;
    width: 150px;
  }
}
.card .card-header .card-description:hover .card-description__text {
  visibility: visible;
  opacity: 1;
}

.section {
  width: 100%;
}

.section__title {
  font-size: 19px;
  font-weight: 700;
  text-align: right;
  color: var(--section-title-text-color);
  margin: 15px 0 8px;
  line-height: 2;
  border-top: 1px solid rgba(161, 170, 177, 0.4);
}
.section__title.first-section {
  border: none;
  margin: 0 0 8px;
}

.section__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inline-flex-wrapper {
  display: flex;
  flex-grow: 1;
  column-gap: 10px;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1400px) {
  #overview .section__content {
    justify-content: flex-start;
  }
  #overview .section__content .inline-flex-wrapper.first, #overview .section__content .inline-flex-wrapper.third {
    width: 60vw;
    min-width: 10vw;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: flex-start;
  }
  #overview .section__content .inline-flex-wrapper.first .small, #overview .section__content .inline-flex-wrapper.third .small {
    flex-grow: 1;
  }
  #overview .section__content .inline-flex-wrapper.second {
    width: 30vw;
    min-width: 20vw;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: flex-start;
  }
  #overview .section__content .inline-flex-wrapper.second .small {
    flex-grow: 1;
  }
  #overview .section__content .line-break.second {
    width: 100%;
  }
}
@media (max-width: 1190px) {
  #overview .section__content .inline-flex-wrapper.first, #overview .section__content .inline-flex-wrapper.second, #overview .section__content .inline-flex-wrapper.third {
    justify-content: center;
    flex-grow: 1;
    margin-left: 0;
  }
  #overview .section__content .line-break {
    width: 100%;
  }
}

#overview .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
#overview .card-content .overview-data-item {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}
#overview .card-content .overview-data-item__title {
  font-size: 0.8rem;
  margin-inline-end: 16px;
}
#overview .card-content .overview-data-item__data {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.25;
}
#overview .card-content .overview-data-item__data.small {
  font-size: 0.8rem;
  flex-grow: 0 !important;
  padding: 0 2px;
}

#overview__dead .card-content {
  justify-content: flex-start;
}
#overview__dead .card-content .overview-data-item__data {
  margin-top: 8px;
}

#overview__confirmed .card-content .overview-data-item__title {
  line-height: 1.25;
  padding: 0 2px;
}

#overview__confirmed-precentage .card-content .overview-data-item__title {
  line-height: 1.25;
  padding: 0 2px;
  white-space: nowrap;
}

#overview__active-ill .card-content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#overview__active-ill .card-content .overview-data-item.wide {
  width: 100%;
}
#overview__active-ill .card-content .overview-data-item.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#overview__active-ill .card-content #overview__active-difference {
  font-size: 0.8rem;
  padding: 0 2px;
  direction: ltr;
}
#overview__active-ill .card-content #overview__active-difference + .overview-data-item__title {
  padding: 0 2px;
  line-height: 1.25;
}

#overview__severely-ill .card-content {
  justify-content: flex-start;
}
#overview__severely-ill .card-content .overview-circle {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-inline-end: 8px;
}
#overview__severely-ill .card-content .overview-circle.red {
  background: #e21d48;
}
#overview__severely-ill .card-content .overview-circle.yellow {
  background: #e6b957;
}
#overview__severely-ill .card-content .overview-data-item__title {
  margin: 0;
  padding: 0 2px;
}
#overview__severely-ill .card-content .overview-data-item__data {
  padding: 0 2px;
}
#overview__severely-ill .card-content #overview__severe-ill {
  margin-bottom: 6px;
}
#overview__severely-ill .card-content #overview__medium-ill {
  margin-top: 16px;
}

#data-world .section__content .inline-flex-wrapper {
  margin-left: 0;
  justify-content: center;
  width: 100%;
}
#data-world .section__content .inline-flex-wrapper .card {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
}
#data-world .section__content .inline-flex-wrapper .card .card-header {
  padding: 0 24px;
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-title {
  font-weight: 700;
  font-size: 1rem;
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-link {
  height: 27px;
  border-radius: 14.5px;
  border: 2px solid #79858e;
  padding: 4px 15px 4px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  top: 0;
  left: 0;
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--data-card-text-color);
}
#data-world .section__content .inline-flex-wrapper .card .card-header .card-link a .link-arrow {
  font-size: 16px;
  padding-bottom: 3px;
  padding-right: 5px;
}
#data-world .section__content .inline-flex-wrapper .card .card-content {
  height: 350px;
  display: flex;
  overflow: auto;
  align-items: center;
}
@media (max-width: 1190px) {
  #data-world .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
  #data-world .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}

#data-reports .data-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 251px;
  width: 100%;
  max-width: 185px;
  padding: 0;
  margin: 0 6px;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px rgba(0, 2, 2, 0.15);
  text-decoration: none;
  color: var(--data-card-text-color);
}
#data-reports .data-card .data-card__header .data-card__header__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 20px;
}
#data-reports .data-card .data-card__header .data-card__header__secondary-title {
  font-size: 12px;
  margin: 0 20px;
}
#data-reports .data-card .data-card__description {
  font-size: 12px;
}

#gis .data-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  height: 251px;
  width: 100%;
  max-width: 185px;
  padding: 0;
  margin: 0 6px;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px rgba(0, 2, 2, 0.15);
  text-decoration: none;
  color: var(--data-card-text-color);
}
#gis .data-card .data-card__header .data-card__header__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 20px;
}
#gis .data-card .data-card__description {
  font-size: 12px;
}

#gov-data-base .data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  height: 251px;
  width: 100%;
  max-width: 185px;
  padding: 0;
  margin: 0 6px;
  flex-wrap: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px rgba(0, 2, 2, 0.15);
  text-decoration: none;
  color: var(--data-card-text-color);
}
#gov-data-base .data-card .data-card__header {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#gov-data-base .data-card .data-card__header .data-card__header__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 20px;
}
#gov-data-base .data-card .data-card__description {
  font-size: 12px;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#gov-data-base .data-card .data-card__description span {
  margin: 0 5px;
}

#gov-data-base .card-header {
  justify-content: space-between;
}

#gov-data-card-1 .data-card__header,
#gov-data-card-5 .data-card__header {
  background: rgba(0, 127, 127, 0.05);
  border-bottom: 1px solid #007f7f;
}

#gov-data-card-2 .data-card__header,
#gov-data-card-6 .data-card__header {
  background: rgba(53, 100, 204, 0.05);
  border-bottom: 1px solid #3564cc;
}

#gov-data-card-3 .data-card__header {
  background: rgba(15, 170, 216, 0.05);
  border-bottom: 1px solid #0faad8;
}

#gov-data-card-4 .data-card__header {
  background: rgba(151, 119, 222, 0.05);
  border-bottom: 1px solid #9777de;
}

#analysis .section__content {
  display: flex;
  flex-direction: column;
}
#analysis .section__content .inline-flex-wrapper {
  margin-left: 0;
  column-gap: 20px;
  justify-content: center;
  width: 100%;
}
#analysis .section__content .inline-flex-wrapper .card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 200px;
}
@media (max-width: 980px) {
  #analysis .section__content .inline-flex-wrapper {
    flex-direction: column;
    width: 100%;
  }
  #analysis .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}
#analysis .section__content .card-header {
  display: flex;
  flex-wrap: wrap;
}
#analysis .section__content .card-header .chart-menu {
  width: 100%;
  margin-top: 10px;
  z-index: 2;
  position: relative;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button {
  cursor: pointer;
  border: 2px solid var(--chart-menu-border-color);
  border-radius: 1.5rem;
  min-width: 200px;
  max-width: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3px 15px 4px;
  font-size: 15px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button .chart-menu__button__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button .chart-menu__button__arrow img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  filter: var(--chart-menu-arrow-color);
  transform: rotate(180deg);
  transition: transform 500ms;
}
#analysis .section__content .card-header .chart-menu .chart-menu__button .chart-menu__button__arrow img.rotate {
  transform: rotate(360deg);
}
#analysis .section__content .card-header .chart-menu .chart-menu__form {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  border: 2px solid var(--chart-menu-border-color);
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  height: 260px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form.show {
  display: block;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form {
  display: flex;
  flex-direction: column;
  max-height: 225px;
  overflow: auto;
  padding: 0 16px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field label {
  font-size: 14px;
  font-weight: bold;
  margin: 12px 0 4px;
  line-height: 2rem;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field .radio-option {
  margin-bottom: 8px;
  font-size: 15px;
  cursor: pointer;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field .radio-option input {
  cursor: pointer;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form form .form-field:last-child {
  padding-bottom: 30px;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons .form-button {
  flex-grow: 1;
  color: var(--card-text-color);
  background: var(--chart-menu-button-background-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 32px;
  cursor: pointer;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons .form-button:first-child {
  border-radius: 0 0 0.5rem 0;
}
#analysis .section__content .card-header .chart-menu .chart-menu__form-buttons .form-button:last-child {
  border-radius: 0 0 0 0.5rem;
}
#analysis .section__content .card-content {
  flex-grow: 1;
}
#analysis .section__content .card-content .chart {
  width: 100%;
  height: 100%;
}

#traffic-light .inline-flex-wrapper .card {
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0;
  min-width: 350px;
  height: 350px;
}
#traffic-light .inline-flex-wrapper .card:first-child {
  flex-grow: 2;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container {
  display: flex;
  flex-direction: column;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header {
  display: flex;
  padding: 16px 10px 0;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__text-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__text-area .card-title {
  display: flex;
  margin: 0;
  font-weight: 400;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__text-area .card-title .card-title__text {
  margin-left: 10px;
  font-weight: 700;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__text-area .card-subtitle {
  font-size: 12px;
  font-weight: 700;
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__text-area .card-subtitle {
    font-size: 10px;
  }
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__info-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__info-container .card-header__info {
  width: fit-content;
  display: flex;
  align-items: center;
  line-height: 1.3em;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 2px;
  background: var(--card-banner-background-color);
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__info-container .card-header__info .card-header__info__icon {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  font-size: 0.8rem;
  margin: 5px;
  background-color: #14212b;
  color: #fff;
  opacity: 0.85;
  text-align: center;
  line-height: 1.1;
  border-radius: 50%;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__info-container .card-header__info .card-header__info__text {
  font-size: 12px;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__search {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__search .search-form {
  display: flex;
  border-radius: 14.5px;
  border: 1px solid var(--card-search-form-border-color);
  padding: 4px 15px;
  max-width: 170px;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__search .search-form .search-form__icon {
  position: relative;
  top: 3px;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__search .search-form .search-form__icon svg {
  fill: var(--card-text-color);
  width: 20px;
  height: 20px;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__search .search-form input {
  color: var(--card-text-color);
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0 5px;
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-header__search .search-form input::placeholder {
  color: var(--card-text-color);
  font-size: 0.8rem;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend {
  display: flex;
  padding: 0 10px;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend .legend-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend .legend-item .legend-item__color-box {
  width: 32px;
  height: 32px;
  padding: 5px;
  margin: 0 6px;
  display: inline-block;
  border-radius: 2px;
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend .legend-item .legend-item__color-box {
    width: 26px;
    height: 26px;
  }
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend .legend-item .legend-item__text {
  font-size: 0.9rem;
  line-height: 1.4rem;
  white-space: nowrap;
}
#traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend .legend-item .legend-item__text .legend-item__text__subtitle {
  font-style: italic;
  font-weight: 200;
  color: var(--card-legend-subtitle-text-color);
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend .legend-item .legend-item__text {
    font-size: 13px;
  }
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper .card-header-legend-container {
    flex-direction: row;
  }
  #traffic-light .inline-flex-wrapper .card-header-legend-container .card-header {
    flex-direction: column;
  }
  #traffic-light .inline-flex-wrapper .card-header-legend-container .card-legend {
    flex-direction: column;
  }
}
#traffic-light .inline-flex-wrapper #traffic-light-table {
  width: 100%;
  height: 245px;
  margin: 0;
  border: none;
  border-spacing: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head {
  width: 100%;
  border: none;
  height: auto;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--table-header-background);
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th:first-child {
  justify-content: flex-start;
  padding-right: 7px;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th.dark {
  background-color: var(--table-header-dark-background);
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th button {
  background: transparent;
  border: none;
  padding: 0 5px;
  display: flex;
  align-items: center;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  font-family: var(--text-font-family);
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th button .sort-direction-icon {
  display: none;
  padding: 5px;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th button .sort-direction-icon img {
  width: 10px;
  height: 7px;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th button .sort-direction-icon img.ascending {
  transform: rotateZ(180deg);
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th button .sort-direction-icon.show {
  display: flex;
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper #traffic-light-table .table-fixed-head .table-head-row th {
    font-size: 11px;
  }
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-content {
  flex-grow: 1;
  display: block;
  width: 100%;
  direction: ltr;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  border-bottom: 1px solid #fff;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row .table-row-item-container {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row .table-row-item-container .city-name {
  word-wrap: break-word;
  word-break: break-word;
  display: inline-block;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row .table-row-item-container.dark {
  background-color: var(--table-cell-dark-background);
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row .table-row-item-container.right {
  justify-content: flex-end;
  font-weight: 700;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row .table-row-item-container .grade-box {
  width: 20px;
  height: 20px;
  margin: 5.5px 0;
  border-radius: 2px;
  padding: 2px 4px;
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row .table-row-item-container .daily-grade-box {
  width: 28px;
  padding: 2px 4px;
  border-radius: 2px;
  text-align: center;
  color: #2c2c2c;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper #traffic-light-table .table-row .table-row-item-container .daily-grade-box {
    font-size: 11px;
  }
}
#traffic-light .inline-flex-wrapper #traffic-light-table .table-row:last-child {
  border: none;
}
@media (max-width: 690px) {
  #traffic-light .inline-flex-wrapper #traffic-light-table .table-row {
    padding-right: 7px;
  }
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper #traffic-light-table .table-row {
    font-size: 11px;
  }
}
@media (max-width: 738px) {
  #traffic-light .inline-flex-wrapper #traffic-light-table {
    height: 228px;
  }
}
@media (max-width: 590px) {
  #traffic-light .inline-flex-wrapper #traffic-light-table {
    height: 171px;
  }
}
@media (max-width: 1150px) {
  #traffic-light .inline-flex-wrapper {
    flex-direction: column;
  }
  #traffic-light .inline-flex-wrapper .card {
    width: 100%;
    height: 350px;
  }
  #traffic-light .inline-flex-wrapper .card .placeholder-text {
    height: 350px;
  }
}

.red {
  background-color: #fa9e8f;
}

.orange {
  background-color: #f2c580;
}

.yellow {
  background-color: #fcfc70;
}

.green {
  background-color: #b8de92;
}

#vaccines .section__content {
  display: flex;
  flex-direction: column;
}
#vaccines .section__content .inline-flex-wrapper .card {
  flex-grow: 1;
}
@media (max-width: 980px) {
  #vaccines .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
  #vaccines .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}

#civilians-status .section__content {
  display: flex;
  flex-direction: row;
}
#civilians-status .section__content .inline-flex-wrapper {
  display: flex;
  flex-direction: column;
}
#civilians-status .section__content .inline-flex-wrapper .card {
  width: 100%;
}
@media (max-width: 980px) {
  #civilians-status .section__content {
    flex-direction: column;
  }
  #civilians-status .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
}

#sick-from-overseas .section__content .inline-flex-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#sick-from-overseas .section__content .inline-flex-wrapper .card {
  flex-grow: 1;
}
@media (max-width: 980px) {
  #sick-from-overseas .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
  #sick-from-overseas .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}

#healed-and-losses .section__content .inline-flex-wrapper {
  display: flex;
  flex-direction: row;
}
#healed-and-losses .section__content .inline-flex-wrapper .card {
  flex-grow: 1;
}
@media (max-width: 980px) {
  #healed-and-losses .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
  #healed-and-losses .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}

#health-facilities .section__content .inline-flex-wrapper {
  display: flex;
  flex-direction: row;
}
#health-facilities .section__content .inline-flex-wrapper .card {
  flex-grow: 1;
}
@media (max-width: 980px) {
  #health-facilities .section__content .inline-flex-wrapper {
    flex-direction: column;
  }
  #health-facilities .section__content .inline-flex-wrapper .card {
    width: 100%;
  }
}
