@import 'https://code.highcharts.com/css/highcharts.css';
.chart {
  width: 100%;
  height: 265px;
  max-height: 265px;
  padding: 10px;
}

.highcharts-background {
  fill: var(--card-background-color);
}

.highcharts-title {
  fill: var(--chart-text-color);
}

#analysis .card {
  padding-bottom: 0;
}

.highcharts-axis-title {
  fill: var(--chart-text-color);
  white-space: normal !important;
  font-family: var(--text-font-family);
  text-align: right;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
}

.highcharts-axis-labels {
  fill: var(--chart-text-color);
  cursor: default;
  font-size: 0.8rem;
  font-family: var(--text-font-family);
}

.highcharts-color-0 {
  fill: var(--chart-line-color-0);
  stroke: var(--chart-line-color-0);
}

.highcharts-color-1 {
  fill: var(--chart-line-color-1);
  stroke: var(--chart-line-color-1);
}

.highcharts-color-2 {
  fill: var(--chart-line-color-2);
  stroke: var(--chart-line-color-2);
}

.highcharts-tooltip {
  color: var(--card-text-color);
  font-family: var(--text-font-family);
}

.highcharts-tooltip-box {
  fill: var(--chart-tooltip-background-color);
  fill-opacity: 1;
  stroke-width: 0;
  z-index: 50;
}

.highcharts-legend-item {
  pointer-events: none;
}

.highcharts-legend-item > text {
  fill: var(--chart-text-color);
  font-weight: 600;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  stroke-width: 0;
}

.highcharts-legend-item .highcharts-graph {
  display: none;
}

.highcharts-legend-item .highcharts-point {
  transform: scale(1.3) translate(-2.5px, -2.5px);
}

.highcharts-crosshair-category {
  stroke-opacity: 0.5;
  stroke-width: 1.5px;
  stroke: var(--chart-text-color);
  transform: translateY(2px);
}

#actively-ill-by-vaccination .highcharts-grid-line {
  stroke-width: 1px;
}
#actively-ill-by-vaccination .actively-ill-chart-crosshair {
  stroke-opacity: 0.1;
  stroke: var(--chart-text-color);
  stroke-width: 10%;
  transform: translateY(2px);
}
#actively-ill-by-vaccination .highcharts-point {
  stroke-width: 0;
}
#actively-ill-by-vaccination .highcharts-legend-item > rect {
  transform: scale(0.8) translate(2px, 4px);
}
