:root{
    --text-font-family: 'Open Sans', sans-serif;
    --background-color: #edf1f7;
    --text-color: #222b45;
    --theme-switch-background-color: #39475d;
    --main-background-color: #edf1f7;
    // card
    --card-background-color: #fff;
    --card-text-color: #222b45;
    --card-info-icon-filter: invert(14%) sepia(10%) saturate(2937%) hue-rotate(187deg) brightness(94%) contrast(91%);
    --card-box-shadow: 3px 6px 14px 0 rgba(0,0,0,0.1);
    --card-banner-background-color: #e6f1f4;
    --card-search-form-border-color: #e4e9f2;
    --card-legend-subtitle-text-color: #757575;
    //section
    --section-title-text-color: #222b45;
    //chart
    --chart-text-color: #222b45;
    --chart-menu-border-color: #e4e9f2;
    --chart-menu-arrow-color: invert(68%) sepia(12%) saturate(534%) hue-rotate(182deg) brightness(89%) contrast(85%);
    --chart-menu-button-background-color: #e6f1f4;
    --chart-tooltip-background-color: #ffffff;
    --chart-line-color-0: #50cbfd;
    --chart-line-color-1: #b6ca51;
    --chart-line-color-2: #237d7d;
    //data-card
    --data-card-text-color: #222b45;
    //trafficlight table
    --table-header-dark-background: #daeaee;
    --table-header-background: #e6f1f3;
    --table-cell-dark-background: rgba(239,245,249,0.5);
}

[data-theme="dark"]{
    --text-font-family: 'Open Sans', sans-serif;
    --background-color: #49667a;
    --text-color: #ffffff;
    --theme-switch-background-color: #d8d8d8;
    --main-background-color: #49667a;
    //card
    --card-background-color: #384f5f;
    --card-text-color: #fff;
    --card-info-icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(107%) contrast(104%);
    --card-box-shadow: 3px 6px 14px 0 rgba(0,0,0,0.1);
    --card-banner-background-color: #2a3b47;
    --card-search-form-border-color: #79858e;
    --card-legend-subtitle-text-color: #cacaca;
    //section
    --section-title-text-color: #fff;
    //chart
    --chart-text-color: #fff; 
    --chart-menu-border-color: #79858e;
    --chart-menu-arrow-color: invert(68%) sepia(12%) saturate(534%) hue-rotate(182deg) brightness(89%) contrast(85%);
    --chart-menu-button-background-color: #2a3b47;
    --chart-tooltip-background-color: #21303b;
    --chart-line-color-0: #30e7f0;
    --chart-line-color-1: #fd8264;
    --chart-line-color-2: #90ed7d;
    //data-card
    --data-card-text-color: #fff;
    //trafficlight table
    --table-header-dark-background: #354047;
    --table-header-background: #2a3b47;
    --table-cell-dark-background: rgba(41,59,72,0.5);
}

